[user]
    email = jun.hashimoto.0204@gmail.com
    name = Jun Hashimoto
[color]
    ui = auto
[commit]
    template = ~/.gitmessage
[alias]
    ad = add
    br = branch
    co = checkout
    ci = commit
    ft = fetch
    fp = push -f
    tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
    st = status
[core]
    editor = emacs
[i18n]
    commitencoding = UTF-8
    logoutputencoding = UTF-8
