# ==============================================================================
# ENV
# ==============================================================================
export LANG=ja_JP.UTF-8
export EDITOR="emacs"
# for crontab
export VISUAL="emacs"

# ==============================================================================
# ssh-agent
# ==============================================================================

# rm .ssh-agent file when there is no ssh-agent process
ssh_agent_process_num=`ps aux | grep ssh-agent | grep -v grep | wc -l | tr -d ' '`
if [ $ssh_agent_process_num -eq 0 ]; then
   rm -f ~/.ssh-agent
fi

# setup ssh-agent
if [ -f ~/.ssh-agent ]; then
    . ~/.ssh-agent
fi
if [ -z "$SSH_AGENT_PID" ] || ! kill -0 $SSH_AGENT_PID; then
    ssh-agent > ~/.ssh-agent
    . ~/.ssh-agent
fi

# ==============================================================================
# alias
# ==============================================================================
alias cp='cp -i'
alias mkdir='mkdir -p'
alias mv='mv -i'
alias rm='rm -i'

# ==============================================================================
# history
# ==============================================================================
export HISTFILE=${HOME}/.zhistory
export HISTSIZE=100
export SAVEHIST=1000000

setopt EXTENDED_HISTORY
setopt hist_expand
setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_no_store

function history-all { history -E 1 }
