# ==============================================================================
# ENV
# ==============================================================================
export LANG=ja_JP.UTF-8

# ==============================================================================
# ssh-agent
# ==============================================================================

# rm .ssh-agent file when there is no ssh-agent process
ssh_agent_process_num=`ps aux | grep ssh-agent | grep -v grep | wc -l | tr -d ' '`
if [ $ssh_agent_process_num -eq 0 ]; then
   rm -f ~/.ssh-agent
fi

# setup ssh-agent
if [ -f ~/.ssh-agent ]; then
    . ~/.ssh-agent
fi
if [ -z "$SSH_AGENT_PID" ] || ! kill -0 $SSH_AGENT_PID; then
    ssh-agent > ~/.ssh-agent
    . ~/.ssh-agent
fi

# add ssh private keys
num_of_registered_keys=`ssh-add -l | wc -l | tr -d ' '`
all_keys=`ls -l ~/.ssh/ | tr -s ' ' | cut -d ' ' -f 9 | grep -v config | grep -v .pub | grep -v known_hosts | grep -v authorized_keys | grep -v old | sed '/^$/d'`
num_of_all_keys=`echo $all_keys | wc -l | tr -d ' '`

if [ $num_of_registered_keys -ne $num_of_all_keys ]; then
   echo $all_keys | xargs -I {} sudo ssh-add ~/.ssh/{}
fi

# ==============================================================================
# alias
# ==============================================================================
alias cp='cp -i'
alias mkdir='mkdir -p'
alias mv='mv -i'
alias rm='rm -i'

# ==============================================================================
# history
# ==============================================================================
export HISTFILE=${HOME}/.zhistory
export HISTSIZE=100
export SAVEHIST=1000000

setopt EXTENDED_HISTORY
setopt hist_expand
setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_no_store

function history-all { history -E 1 }
