# ==============================================================================
# ENV
# ==============================================================================
export LANG=ja_JP.UTF-8

# ==============================================================================
# ssh-agent
# ==============================================================================

# setup ssh-agent
if [ -f ~/.ssh-agent ]; then
    . ~/.ssh-agent
fi
if [ -z "$SSH_AGENT_PID" ] || ! kill -0 $SSH_AGENT_PID; then
    ssh-agent > ~/.ssh-agent
    . ~/.ssh-agent
fi

ssh_agent_keys=`ssh-add -l | wc -l`
if [ $ssh_agent_keys -eq 0 ]; then
    find ~/.ssh | egrep -v '.pub|known_hosts|config' | xargs sudo ssh-add
fi

# ==============================================================================
# alias
# ==============================================================================
alias cp='cp -i'
alias mkdir='mkdir -p'
alias mv='mv -i'
alias rm='rm -i'

# ==============================================================================
# history
# ==============================================================================
export HISTFILE=${HOME}/.zhistory
export HISTSIZE=100
export SAVEHIST=1000000

setopt EXTENDED_HISTORY
setopt hist_expand
setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_no_store

function history-all { history -E 1 }
