# ==============================================================================
# prompt
# ==============================================================================
autoload -Uz vcs_info
autoload -Uz add-zsh-hook
vcs_info
setopt prompt_subst
zstyle ':vcs_info:git:*' check-for-changes true
zstyle ':vcs_info:git:*' stagedstr "%F{yellow}!"
zstyle ':vcs_info:git:*' unstagedstr "%F{red}+"
zstyle ':vcs_info:*' formats "%F{green}%c%u[%b]%f"
zstyle ':vcs_info:*' actionformats '[%b|%a]'

function _update_vcs_info_msg() {
    LANG=ja_JP.UTF-8 vcs_info
    PROMPT="%F{magenta}%n%f @ %F{yellow}%m%f | %F{green}%~%f ${vcs_info_msg_0_}
%% "
}

add-zsh-hook precmd _update_vcs_info_msg

# ==============================================================================
# color
# ==============================================================================
## configure LSCOLORS
export LSCOLORS=gxfxcxdxbxegedabagacad

## enable colors
autoload -Uz colors
colors

# ==============================================================================
# autoload tmux
# ==============================================================================
if [ -z "$TMUX" -a -z "$STY" ]; then
    if type tmuxx >/dev/null 2>&1; then
        tmuxx
    elif type tmux >/dev/null 2>&1; then
        tmux
    elif type tmux-next >/dev/null 2>&1; then
        tmux-next
    elif type screen >/dev/null 2>&1; then
        screen -rx || screen -D -RR
    fi
fi
