# ==============================================================================
# prompt
# ==============================================================================
autoload -Uz vcs_info
autoload -Uz add-zsh-hook
vcs_info
setopt prompt_subst
zstyle ':vcs_info:git:*' check-for-changes true
zstyle ':vcs_info:git:*' stagedstr "%F{yellow}!"
zstyle ':vcs_info:git:*' unstagedstr "%F{red}+"
zstyle ':vcs_info:*' formats "%F{green}%c%u[%b]%f"
zstyle ':vcs_info:*' actionformats '[%b|%a]'

function git_user_email() {
  email=`git config user.email`
  echo "[$email]"
}

function _update_vcs_info_msg() {
    LANG=ja_JP.UTF-8 vcs_info
    PROMPT="%F{magenta}%n%f @ %F{yellow}%m%f | %F{cyan}$(git_user_email)%f | %F{green}%~%f ${vcs_info_msg_0_}
%% "
}

add-zsh-hook precmd _update_vcs_info_msg

# ==============================================================================
# color
# ==============================================================================
## configure LSCOLORS
export LSCOLORS=gxfxcxdxbxegedabagacad

## enable colors
autoload -Uz colors
colors
